.content-container {
  position: relative;
  overflow: auto;
  height: 90%;
  min-height: 0;
  margin: 0px 0px;
  border-radius: 00px;
  background-color: #fff;
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  color: white;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.title {
  color: black;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.description {
  color: gray;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  width:240px;
  word-break: break-all;
  white-space: normal;
}

.image-cover{
  margin-top: 400px;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;}

.cardImg {
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.custom-toolbar {
  background-color: #2F4FFE;
  padding: 0 5px;
}

.toolbar-title {
  color: #fff;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.white-icon {
  color: #fff;
}

.blue-icon {
  color: #2F4FFE;
}

.text-area{
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sensor-text{
  margin-top: 12%;
}

.c-btn {
  width: 100%;
  height: auto;
  margin:  5px;
  display: flex;
  color: white;
  text-align: center;
  background-color: #2F4FFE;
  font-size: 16px;
  letter-spacing: 2px;
}

.mat-success {
  color: #2F4FFE;
}

.toolbarNav{
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 2px 0px;
  background-color: white;
  //-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  //-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  //box-shadow:        2px 2px 4px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.tool-bar-spacer {
  flex: 1 1 auto;
}

.tool-bar-text {
  font-size: medium;
  color: #2F4FFE;
}

.tool-bar-text-disable{
  color: rgba(black, 0.38);
}
