.mainPage {
  background-color: #F5F5F6;
}

.primaryBlue {
  color: #2F4FFE;
}

.yellow{
  color: #FFCA26;
}


.alert-color{
  color: #FF0000;
}


.darkblue{
  color: #0000aa;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.md-fab-bottom-right {
  position: fixed !important;
  right: 15px;
  bottom: 15px;
  z-index: 99;
  width: 56px;
  height: 56px;
  background-color: #2F4FFE;
}

.custom-toolbar {
  background-color: #2F4FFE;
  padding: 0 5px;
}

.toolbar-title {
  color: #fff;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.white-icon {
  color: #fff;
}

.horizontal {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 6px;
  align-items: center;
  justify-content: space-between;
}

.imgHolder {
  display: block;
  float: right;
}

.vertical-align-middle {
  vertical-align: middle;
}

.temp {
  font-size: 20px;
  width: 60px;
  text-align: right;
  padding-right: 6px;
}


.grid {
  margin-left: 16px;
  margin-right: 16px;
}

mat-card {
  border: 2px solid #F5F5F6;
}

.cardImage {
  margin-bottom: 0px;
}

.toolbarTitle {
  padding: 8px;
  font-weight: 100;  
  font-size: 20px;
}