<div *ngIf="requestingCrop"
     fxFlexFill fxLayout="column"
     fxLayoutGap="25px"
     fxLayoutAlign="center center">
  <div>
    <mat-spinner diameter="100" color="primary"></mat-spinner>
  </div>
  <p>Loading...</p>
</div>

<div *ngIf="!requestingCrop" class="add-crop" style="overflow-x:hidden;" fxFlexFill cdkScrollable>
  <mat-toolbar class="add-crop-header mat-elevation-z4 custom-toolbar" [class.hidden]="toggleSearch">
    <mat-toolbar-row style="padding: 0 5px;">
      <button mat-icon-button class="toolbar-title" aria-label="Icon-button with close icon" (click)="backToMyCrops()">
        <mat-icon>close</mat-icon>
      </button>
      <div style="padding:8px 0 0 10px; flex:1;">
        <div class="mat-title toolbar-title" style="margin-bottom:2px;">Add a crop</div>
      </div>
      <button mat-icon-button class="toolbar-title" aria-label="Icon-button with search icon"  (click)="openSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar class="search-block mat-elevation-z4" [class.active]="toggleSearch">
    <mat-toolbar-row style="padding: 0 5px;">
      <button class="search-icon" mat-icon-button disabled>
        <mat-icon>search</mat-icon>
      </button>
      <input class="search-control" type="text" placeholder="Search" [(ngModel)]="searchText">
      <button mat-button mat-icon-button (click)="searchClose()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf=cropsList>
    <mat-grid-list class="grid" cols="2" rowHeight="1:1"    gutterSize="2px">
      <mat-grid-tile *ngFor="let crop of filterFunction()">
        <mat-card (click)="addCrop(crop)">
          <img mat-card-image class="cardImage" src="{{ crop.url }}" alt="{{ crop.cropName }}" />
          <mat-card-footer>
            <mat-card-title class="cardTittle">{{ crop.cropName }}</mat-card-title>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf=!cropsList>
      <mat-card>
        <img mat-card-image class="cardImage" src="{{ NO_NEW_CROPS }}" />
      </mat-card>
  </div>
</div>
