header{
  position: fixed;
  top: 0;
  z-index: 11;
  transition: all 250ms ease-in-out;
}
.add-crop-header{
  @extend header;
  &.hidden{
    opacity: 0;
  }
}
.search-block{
  width: 0%;
  right: 0;
  @extend header;
  background: #fff;
  &.active{
    width: 100%;
  }
  .search-control{
    flex: 1;
    font-size: 1rem;
    border: 0;
    outline: none;
    padding-left: 10px;
  }
}

.gridMargin {
  margin-top: 40px;
}