#parent-layout{
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  height: 180px;
}

.white-icon {
  color: #fff;
}

#top-layout{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
}

#bottom-layout{
  margin-left: 22px;
  margin-bottom: 24px;
}

#corn-text{
  font-size: 20px;
  color: #fff;
}

mat-list{
  z-index: 1;
  height: 300px;
}

mat-list-item{
  margin-top: 16px;
}

#measure-btn{
  top: auto !important;
  right: 20px !important;
  bottom: 10px !important;
  left: auto !important;
  position: fixed !important;
}
