<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<div class="container invisible-scrollbar">

<div
      id="parent-layout"
      class="bg-img"
      fxLayout="column"
      fxLayoutAlign="space-between"
       [ngStyle]="{'background-image':'url('+ bgImg+')',
      'background-repeat': 'no-repeat',
      'background-size':'100%'}">

      <div id="top-layout"
           class="container"
           fxLayout="row"
           fxLayoutAlign="space-between">

        <button mat-icon-button class="white-icon" (click)="onClose()">
          <mat-icon>close</mat-icon>
        </button>

        <button mat-icon-button class="white-icon">
          <mat-icon>volume_up</mat-icon>
        </button>

      </div>

      <div id="bottom-layout"
           class="container"
           fxLayout="row"
           fxLayoutAlign="space-between">

        <span id="corn-text">{{ cropName }}</span>

      </div>
</div>

  <mat-list>
    <mat-list-item *ngFor="let advice of dailyAdvices">
      <mat-icon mat-list-icon class="material-icons-outlined">{{advice.weather_icon}}</mat-icon>
      <div mat-line>{{advice.date | date: 'EEE' }} {{advice.temperature}}&deg;</div>
      <div mat-line>{{advice.date | date : 'yyyy-MM-dd'}}</div>
      <img [src]=advice.volume alt="volume-1">
    </mat-list-item>
  </mat-list>


<button id="measure-btn" mat-fab color="primary" class="fab" (click)="onFabClicked()">
  <mat-icon>straighten</mat-icon>
</button>

</div>

