.custom-toolbar {
    background-color: rgba(0, 0, 255, 0.774);
    padding: 0 5px;
  }
  
  .toolbar-title {
    color: #fff;
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  
  .white-icon {
    color: #fff;
  }