.custom-toolbar {
    background-color: #2F4FFE;
    padding: 0 5px;
  }

  .primaryBlue {
    color: #2F4FFE;
  }
  
  .toolbar-title {
    color: #fff;
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  
  .white-icon {
    color: #fff;
  }

  .grid {
    margin-left: 16px;
    margin-right: 16px;
  }
  
  mat-card {
    border: 2px solid #F5F5F6;
  }
  
  .cardImage {
    margin-bottom: 0px;
    width: 70px;
    height: 90px;
  }
  
  .cardTittle {
    padding: 8px;
    font-weight: 100;
  }