.select-seed-date {
  height: 100%;
  display: flex;
}

header {
  position: fixed;
  top: 0;
  z-index: 11;
  transition: all 250ms ease-in-out;
}

.select-seed-date-header {
  @extend header;
}

.select-date-container {
  margin: auto;
}

.cardImg {
  display: block;
  width: 35%;
  margin: auto;
}

.label {
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 200;
  padding: 20px 10px 10px 10px;
}

.datePicker {
  display: block;
  font-size: 16px;
  margin: 0 auto;
  max-width: 300px;
}

.dateAgo {
  text-align: center;
  font-size: 16px;
  padding-bottom: 1.34375em;
}

.c-btn {
  width: 50%;
  margin: 0 auto;
  display: block;
  color: white;
  background-color: #2F4FFE;
  font-size: 16px;
  letter-spacing: 2px;
}
