
  <mat-toolbar *ngIf="measureView=='before-measuring'" class="custom-toolbar">
    <button mat-icon-button class="white-icon" aria-label="back clicked" (click)="backClicked()">
      <mat-icon class="volume-icon">arrow_back</mat-icon>
    </button>
    <span class="toolbar-title">Measure Soil Moisture</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button class="white-icon" aria-label="read text" (click)="volumeClicked()">
      <mat-icon>volume_up</mat-icon>
    </button>
  </mat-toolbar>

  <div *ngIf="measureView=='before-measuring'" class="content-container" >
    <swiper class="swiper-container" [config]="config" [(index)]="index" [disabled]="disabled"
      (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')"
      (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">

  <!--    <div class="swiper-slide" *ngFor="let item of dataSource">-->
  <!--      <div class="vertical">-->
  <!--        <Label class="title" textWrap="true">{{ item.title }}</Label>-->
  <!--        <Label class="description" textWrap="true">{{ item.description }}</Label>-->
  <!--      </div>-->
  <!--      <div fxLayout="column" fxFlexFill >-->
  <!--        <img src="{{ item.url }}" alt="{{ item.title }}">-->
  <!--        <button mat-flat-button class="btn-next" (click)="onNextClicked()">Next</button>-->
  <!--        <button mat-flat-button class="btn-previous" (click)="onPrevClicked()">Previous</button>-->
  <!--      </div>-->
  <!--    </div>-->

          <div class="swiper-slide">
            <div class="vertical">
              <Label class="title" textWrap="true">Step 1:</Label>
              <Label class="description" textWrap="true">Get your sensor Ready</Label>
            </div>
            <div fxLayout="column" fxFlexFill >
              <img src="assets/crops-images/ms1.png" alt="Step 1:">
              <button mat-flat-button class="btn-next" (click)="onNextClicked()">Next</button>
              <button mat-flat-button class="btn-previous" (click)="onPrevClicked()">Previous</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="vertical">
              <Label class="title" textWrap="true">Step 2:</Label>
              <Label class="description" textWrap="true">Place your sensor in the soil</Label>
            </div>
            <div fxLayout="column" fxFlexFill >
              <img src="assets/crops-images/ms2.png" alt="Step 1:">
              <button mat-flat-button class="c-btn" (click)="onSensorConnect()">Connect Sensor</button>
              <button mat-flat-button class="btn-next" (click)="onNextClicked()">Next</button>
              <button mat-flat-button class="btn-previous" (click)="onPrevClicked()">Previous</button>
            </div>
          </div>

    </swiper>
  </div>

  <div *ngIf="measureView=='measuring'"
       fxFlexFill fxLayout="column"
       fxLayoutGap="25px"
       fxLayoutAlign="center center">

      <div>
        <mat-spinner diameter="100" color="primary"></mat-spinner>
        <div style="position:relative; top: -60px; left: 45px;">{{countdownSecond}}</div>
      </div>
      <p>Reading...</p>
  </div>

  <div *ngIf="measureView=='after-measuring'"
       fxFlexFill fxLayout="column"
       fxLayoutGap="25px"
       fxLayoutAlign="center center">
    <img src="../../assets/low-moisture.png" alt="low-moisture">
    <p class="mat-body-1">SOIL MOISTURE</p>
    <p class="mat-display-1"><span style="color:red">{{ soilData.soilMoistureIndex }} </span> <span> {{soilData.soilMoisturePercentage}}% </span></p>
    <button mat-flat-button color="primary" (click)="onGetAdvise()">GET ADVISE</button>
  </div>
