/.angular/cache

# Dependency directories
node_modules/

# Intellij IDEA/WebStorm
.idea/

# Firebase config
.firebase/
firebase.json
# Uncomment this : everyone can create their own Firebase project.
# comment it: all members can deploy to the same project(s) in .firebaserc.
.firebaserc

# Config file
src/config.json
