.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.md-fab-bottom-right {
  position: fixed !important;
  right: 15px; /* Add this and change value to set the margin you want */
  bottom: 15px;
  z-index: 99;
}

.custom-toolbar {
  background-color: rgba(0, 0, 255, 0.774);
  padding: 0 5px;
}

.toolbar-title {
  color: #fff;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.white-icon {
  color: #fff;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex;
  width: 100%;
}

.date {
  display: inline-block;
  width: 40%;
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
}

.imgHolder {
  display: inline-block;
  width: 50%;
  text-align: right;
  margin-right: 10px;}