.primaryBlue {
  color: #2F4FFE;
}

.yellow{
  color: #FFCA26;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.md-fab-bottom-right {
  position: fixed !important;
  right: 15px; /* Add this and change value to set the margin you want */
  bottom: 15px;
  z-index: 99;
  width: 56px;
  height: 56px;
  background-color: #2F4FFE;
}

.custom-toolbar {
  background-color: rgba(0, 0, 255, 0.774);
  padding: 0 5px;
}

.toolbar-title {
  color: #fff;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.white-icon {
  color: #fff;
}

.horizontal {
  display: block;
  flex-direction: row;
  padding: 16px;
}

.date {
  display: inline-block;
  text-align: left;
  font-size: 20px;
}

.imgHolder {
  display: inline-block;
  float: right;
}

.vertical-align-middle {
  vertical-align: middle;
}

.temp {
  font-size: 20px;
}